@charset "utf-8";
/* CSS Document */
html, body{ height:100%;}
header {position: fixed; width:100%;}
.logo{ float:left; margin-left:30px;  padding-top:25px; width:9%; }
.icons{ float:right; margin-right:30px; padding-top:25px; }
.icons a:nth-child(1) i { margin-right: 22px;}
.icons a:nth-child(2) i { margin-right: 22px;}
nav{padding-left:54px; width: 74%; float:left; position:relative;}
.pcnav li{display:inline-block; margin: 0px 21px;font:12px/100px arial; font-weight:bold;}
.pcnav li:hover a{ color:#e0a240;}
.pcnav li:first-child a{ color:#e0a240;}
.mobilenav { position:absolute; top:27px; right:128px; display:none;}
.banner{height:100%; width:100%; background:url(../images/oshin-slide-1.jpg) no-repeat center center;background-size:cover; }
/* h3{ line-height:80px; font:20px/80px arial; letter-spacing: 7px; position: absolute; top:0;}
h2{ font:66px/103px arial;border: 7px solid #000; display: inline-block; padding:0 51px 0 60px;}
 p{ font:24px/110px arial; font-style: italic; margin:0; }*/
.banner h3{ position:absolute; top:35%; left:50%; transform: translateX(-50%);font-size:20px; font-weight:arial; animation:bannerh3 1s; letter-spacing: 6px;}
.banner h2{ font:45px/103px arial;border: 7px solid #000;  padding:0 60px 0 51px;position:absolute; top:41%; left:50%; transform: translateX(-50%);animation:bannerh2 1s;}
.banner p{ position:absolute; top:60%; right:50%; transform: translateX(50%); font-size:24px; font-weight:arial;font-style: italic; margin:0; animation: bannerp 1s;}
@keyframes bannerh3{ 
	0%{ top: 0%; }
	100%{ top: 35%;}
}
@keyframes bannerh2{ 
	0%{left: 0%; }
	100%{left: 50%;}
}
@keyframes bannerp{ 
	0%{right: 0%; }
	100%{right: 50%;}
}
.page1{ text-align:center; padding-top:99px;}
.page1 span { position:relative; } 
.page1 span:before{ content:''; width:20px; height:1px; background:#e8e8e8; position:absolute; left:-40px; top:50%;}
.page1 span:after{ content:''; width:20px; height:1px; background:#e8e8e8; position:absolute; left:30px; top:50%;}
.page1 span i{ transform:rotate(45deg); color:#e0a240;}
.page1 h2{ line-height:25px; font-size:28px; font-family:arial;}
.page1 h3{ font:14px/111px arial; font-style:italic;color:#5f6263;}
.page1 p{ padding-bottom:101px; color:#656e82; font:18px/33px arial; padding-top:35px;}
.page1 img{ width:80%; margin: 0 auto; display:block;}
.page1 ul li{ float:left; width: 25%;}

.page2{ height:246px; text-align:center;}
.page2 > div{ float:left; width: 25%; height:184px; padding-top:62px; }
.page2 > div:nth-child(2n+1){ background:#f2f5f8;}
.page2 > div:nth-child(2n){ background:#edf0f2;}
.page2>div  i { font-size:61px;}
.page2 p {font:16px/53px arial;}
.page2 > div > div{ transition: all 1s;}
.page2 > div:hover div{ margin-top:-40px;}

.page3{ padding-top: 90px; color:#7b7674; }
.page3 img{ width:100%; margin-bottom:91px;}
.page3>div{ float:left;}
.page3 > div:nth-child(2n+1){ width: 31.4%; padding-left:4.6%; padding-top:21px;}
.page3 > div:nth-child(2n){ width:27%;} 
.page3 > div:nth-child(2n+1) h2{ font:16px/51px arial; color:#000;}
.page3 > div:nth-child(2n+1) p{font:14px/26px arial; }
.page3 > div:nth-child(2n+1) .fonts{ display:inline-block; padding-left:14%; }
.page3 > div:nth-child(2n+1)>div{ position:relative; margin-bottom:41px;}
.page3 div i{ font-size:28px; line-height:30px; width:28px;margin-right: 32px; position:absolute; top:0; left:0; color:#f8cb58;}
.clear{ clear:both;}


.page4{ height:400px; background:url(../images/page4.jpg) no-repeat center center fixed; background-size: cover; }

.page5{ text-align:center; padding-top:99px; padding-bottom:90px;}
.page5 span { position:relative;margin-bottom:85px; display:inline-block;} 
.page5 span:before{ content:''; width:20px; height:1px; background:#e8e8e8; position:absolute; left:-40px; top:50%;}
.page5 span:after{ content:''; width:20px; height:1px; background:#e8e8e8; position:absolute; left:30px; top:50%;}
.page5 span i{ transform:rotate(45deg); color:#e0a240;}
.page5 h2{ line-height:25px; font-size:28px; font-family:arial;}
.page5 h3{ font:14px/111px arial; font-style:italic;color:#5f6263;}
.page5 .nav{ padding-left: 34%; }
.page5 .nav li{ float:left; padding:0 1.7%;}
.page5 .nav li a{font:14px/42px arial; font-weight:bold;}
.page5 .nav li:hover { border: 1px solid #e0a240;}
.page5 .nav li:hover a{ color:#e0a240;} 
.page5 .page_pic ul{ padding-left:1.5%; margin:20px 0;}
.page5 .page_pic ul li{ float:left; width:30%; margin:1.5%;}
.page5 .page_pic ul li img{ width:100%;}
.page5 h4{ width:12%; height:44px; border: 2px solid; margin:0 auto; font:14px/44px arial; margin-top: 20px; transition: all 1s;}
.page5 h4:hover{ background:#f0b452; border:0; color:#fff;}

.page6{ text-align:center; padding-top:74px; padding-bottom:81px; background:#f2f3f8;}
.page6 h2{ font-size:99px; color:#dfdfdf; line-height:128px;}
.page6 p{ font:24px/40px arial;}
.page6 .envato{ font:14px/50px arial;}
.page6 span{ color:#e0a462;}

.page7{ text-align:center; padding-top:99px;}
.page7 span { position:relative;margin-bottom:85px; display:inline-block;  } 
.page7 span:before{ content:''; width:20px; height:1px; background:#e8e8e8; position:absolute; left:-40px; top:50%;}
.page7 span:after{ content:''; width:20px; height:1px; background:#e8e8e8; position:absolute; left:30px; top:50%;}
.page7 span i{ transform:rotate(45deg); color:#e0a240;}
.page7 h2{ line-height:25px; font-size:28px; font-family:arial;}
.page7 h3{ font:14px/111px arial; font-style:italic;color:#5f6263;}
.page7 ul li{ float:left; width:48%;margin: 0 0.7%;margin-bottom:90px;}
.page7 ul li img{ width:100%;}


.page8{ text-align:center; padding:80px 0 90px; background:#000;}
.page8 h2{font:28px/63px arial; color:#fff;}
.page8 h3{font:18px/34px arial; margin-bottom:28px;color:#fff;}
.page8 p{font:18px/44px arial; width:110px; height:44px; background:#f0b452; margin: 0 auto;color:#fff; transition:all 1s;}
.page8 p:hover{ background: none;}


footer{ padding-left:4%; padding-top:70px; color:#a7a99b; background: #f2f3f8; height:410px;}
footer>div{ float:left; width:24%; }
footer .logopic{ padding-bottom:29px;}
footer > div:nth-child(1) p{font:12px/24px arial; padding-bottom:31px;}
footer > div:nth-child(1) i{ font-size:12px; width:30px; height:30px; border: 1px solid #e0a549; border-radius: 15px; text-align:center; line-height:30px; margin-right:13px; color:#e0a549; margin-bottom:107px; transition:all 1s;}
footer > div:nth-child(1) i:hover{ background:#e2ab54; color:#fff; }
footer > div:nth-child(2) div{margin-bottom:20px;}
footer > div:nth-child(2) img {width:16%;display:inline-block; padding:5px 0 10px;}
footer > div:nth-child(2) h2{font:12px/21px arial; margin-bottom:22px; color:#474747;}
footer > div:nth-child(2) p {font:12px/24px arial; display:inline-block;}
footer > div:nth-child(2)  time{font:10px/33px arial; display:block;}

footer > div:nth-child(3) h2{font:12px/21px arial;color:#474747; margin-bottom:18px;}
 
footer > div:nth-child(3) ul li{font:12px/21px arial; line-height:36px;}
footer > div:nth-child(3) ul li a{ color:#a7a99b;}
footer > div:nth-child(3) ul li:hover a{ color:#ebba4b;}

footer > div:nth-child(4) h2{font:12px/21px arial;color:#474747; margin-bottom:21px;}
footer > div:nth-child(4) ul li { float:left; width:23%; margin-right: 5%; margin-bottom:5%;} 
footer > div:nth-child(4) ul li img{ width:100%;}

.bottom p{ text-align:center; font:14px/70px arial; color:#bea69d;}
.totop{ width:40px; height:40px; background:#e0a240; text-align:center; line-height:40px; position:fixed; bottom:0; right:0;}
.totop a { color:#fefcf8; }